{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'bootstrap-5.3.3/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid col-md-3">
        <div class="d-flex flex-column justify-content-center align-items-center ">
            <h1 >404</h1>
            <h2>Oops! Page not found.</h2>
            <a class="btn btn-primary" href="{% url 'Home' %}" role="button">Go Back Home</a>
        </div>
    </div>
    <script src="{% static 'bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>