body {
    background-color: red;
}

.image-article {
    height: 417px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.padding-card {
    visibility: hidden;
    margin-bottom: 16px;
    color: red;
}